<!DOCTYPE html>
<html lang="en">
<head>
<title>Federated Learning Platform</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename= 'css/login.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.bg-text{
  background-image: url("{{ url_for('static', filename= 'back.jpg') }}");
  padding-top: -5px;
  padding-bottom: 350px;
}
</style>
</head>

<body class="bg-text">
  {%if data!=""%}
<script>
  alert("Please Enter Correct Username and Password");
</script>
{%endif%}

<div class="bg-text">
<!-- Navbar -->
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Federated Learning for Medical Instutions</a>
  </div>


<div class="wrapper2" style="padding-top: 350px" >
<form class="form-signin" action="/login" method="POST" id="login-form">       
<h2 class="form-signin-heading">Please login</h2>
<input type="text" class="form-control" name="username"  id="username" placeholder="Email Address" required="" autofocus="" /><br><br>
<input type="password" class="form-control" name="password" id="password" placeholder="Password" required=""/><br><br>
<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
</form>
</div>


<!-- END MAIN -->
</div>

</body>
</html>
