<!DOCTYPE html>
<html lang="en">
<head>
<title>Federated Learning Platform</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename= 'css/login.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename= 'css/app.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>
  <hr width="500px;"color="red"size="10">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Federated Learning for Medical Instutions</a>
    {%if data=="node2"%}
    <form action="/logout" method="POST"><button class="w3-bar-item w3-button w3-theme-l1 w3-right">Logout</button></form>
    <form action="/home" method="GET"><button class="w3-bar-item w3-button w3-theme-l1 w3-right">Home</button></form>
    <form action="/viewJobList" method="GET"><button class="w3-bar-item w3-button w3-theme-l1 w3-right">View Prediction Jobs</button></form>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1 w3-right">Welcome, node2</a>
    {%else%}
    <form action="/logout" method="POST"><button class="w3-bar-item w3-button w3-theme-l1 w3-right">Logout</button></form>
    <form action="/home" method="GET"><button class="w3-bar-item w3-button w3-theme-l1 w3-right">Home</button></form>
    <form action="/viewJobList" method="GET"><button class="w3-bar-item w3-button w3-theme-l1 w3-right">View Prediction Jobs</button></form>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1 w3-right">Welcome, node3</a>
    {%endif%}
  </div>
</div>

<div class="w3-content w3-padding" style="max-width:1564px">
<div class="w3-container w3-padding-32" id="contact">
    <h3>Prediction Graphs</h3><hr class="new1">
    <h4>Prediction Type: {{predictiontype}}</h4>
    {%if data=="node2"%}
    <img src="{{ url_for('static', filename = 'node2plot'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href={{pltlink}}><button class="btn btn-lg btn-primary w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <img src="{{ url_for('static', filename = 'node2scatter'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href="{{sctlink}}"><button class="btn btn-lg btn-primary w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <img src="{{ url_for('static', filename = 'node2bar'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href={{barlink}}><button class="btn btn-lg btn-primary  w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <img src="{{ url_for('static', filename = 'node2grid'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href="{{gridlink}}"><button class="btn btn-lg btn-primary  w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  {%else%}
      <img src="{{ url_for('static', filename = 'node3plot'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href={{pltlink}}><button class="btn btn-lg btn-primary w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <img src="{{ url_for('static', filename = 'node3scatter'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href="{{sctlink}}"><button class="btn btn-lg btn-primary w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <img src="{{ url_for('static', filename = 'node3bar'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href={{barlink}}><button class="btn btn-lg btn-primary  w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <img src="{{ url_for('static', filename = 'node3grid'+jobid+'.png' ) }}" alt="Trulli" width="1500" height="400">
    <a href="{{gridlink}}"><button class="btn btn-lg btn-primary  w3-button w3-theme-l1 btn-block button3" type="submit">View Interactive Graph</button></a>
  </div>
  {%endif%}
  <div class="w3-container w3-padding-32" id="contact">
    <h3>Mean Error</h3><hr class="new1">
     <table id="customers">
  <tr>
    <th>Iterations No.</th>
    <th>Mean Error</th>
  </tr>
  {%for err in meanloss%}
  <tr>
    <td>{{err["index"]}}</td>
    <td>{{err["error"]}}</td>
  </tr>
  {%endfor%}
</table>
</div>
  <div class="w3-container w3-padding-32" id="contact">
    <h3>Download CSV with Predictions</h3><hr class="new1">
    {%if data=="node2"%}
    <a href="{{ url_for('static', filename = 'node2csvpredictions'+jobid+'.csv' ) }}" download><h4> <p style="color:blue">Predictions.csv</p></h4></a>
    {%else%}
     <a href="{{ url_for('static', filename = 'node3csvpredictions'+jobid+'.csv' ) }}" download><h4> <p style="color:blue">Predictions.csv</p></h4></a>
     {%endif%}
    </div>
<div class="w3-main" style="margin-left:250px">


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-row w3-padding-64">
    <div class="w3-third w3-container">
    </div>
  </div>
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">

  </div>



<!-- END MAIN -->
</div>

</body>
</html>
